streamlit==1.32.0
langchain-community==0.0.37
langchain==0.1.17
ollama==0.1.7
openai==1.28.0
python-dotenv
# faiss-gpu
faiss-cpu
llama-index
llama-parse
firecrawl-py
groq
gpt4all
chromadb
google-search-results